// Place all the styles related to the Farmer controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  background-color: #666666;
  // padding-left: 2%
  // text-align:center;
}
h1 {
  text-align: center;
}

table{
  border: 1px solid;
  border-left: 0px;
  border-right: 0px;
  margin-left: auto;
  margin-right: auto;
  // padding-left: 10%;
  // padding-right: 10%;
}

th{
  background-color: #333333;
  color: #999999;
  // text-decoration-color: red;
}

td, th {
  text-align: center;
  width: 5%;
  // padding-left: 15%;
  // padding-right: 15%;
  // margin-left: 15%;
  // margin-right: 15%;
  border: 1px solid;
  border-left: 0px;
  border-right: 0px;

    // text-align: center;
}
